<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/BYUI-logo.png" alt="BYU Idaho logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Team Activities <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/ta01' ? 'active' : ''%>"><a href="/ta/ta01">TA01</a></li>
            <li class="<%= path === '/ta02' ? 'active' : ''%>"><a href="/ta/ta02">TA02</a></li>
            <li class="<%= path === '/ta03' ? 'active' : ''%>"><a href="/ta/ta03">TA03</a></li>
            <li class="<%= path === '/ta04' ? 'active' : ''%>"><a href="/ta/ta04">TA04</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Prove Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/prove01' ? 'active' : ''%>"><a href="/proves/prove01">prove01</a></li>
            <li class="<%= path === '/prove02' ? 'active' : ''%>"><a href="/proves/prove02">prove02</a></li>
            <li class="<%= path === '/prove03' ? 'active' : ''%>"><a href="/proves/prove03">prove03</a></li>
            <li class="<%= path === '/prove04' ? 'active' : ''%>"><a href="/proves/prove04">prove04</a></li>
            <li class="<%= path === '/prove08' ? 'active' : ''%>"><a href="/proves/prove08">prove08</a></li>
            <li class="<%= path === '/prove09' ? 'active' : ''%>"><a href="/proves/prove09">prove09</a></li>
            <li class="<%= path === '/prove10' ? 'active' : ''%>"><a href="/proves/prove10">prove10</a></li>
            <li class="<%= path === '/prove11' ? 'active' : ''%>"><a href="/proves/prove11">prove11</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Shop <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/prove01' ? 'active' : ''%>"><a href="/shop/products">Products</a></li>
            <li class="<%= path === '/prove02' ? 'active' : ''%>"><a href="/shop/admin">Add Item</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
